<h2><%= t('.title') %></h2>
<p>This page is updated on a regular basis - keep checking back to see what's new. Please note that in addition to per session costs there is an annual £20 membership of Wutan as a whole which also covers insurance.</p>
<section>
  <h3>Monday</h3>
  <div class="details-block">
    <h4 class="details-header">Monday 19:00 - 20:30 - Tai Chi</h4>
    <div class="details-contents">
      <p><span class="details-title">Instructor: </span><%= link_to 'Marick Baxter', contact_path(anchor: 'marick') %></p>
      <p><span class="details-title">Location: </span>Bath Central United Reformed Church, Grove Street:  <%= link_to 'Google Maps link', 'https://goo.gl/maps/sd2GSAfXCby', target: "_blank" %></p>
      <p>
        This is an ongoing class practicing Qigong, Ba Gua, Hsing I, weapon forms
        and the Yang-style short Tai Chi form. All levels of experience are welcome.
      </p>
      <p><span class="details-title">Price per session: </span>£7</p>
    </div>
  </div>
  <div class="details-block">
    <h4 class="details-header">Monday 20:30 - 22:00 - Kung Fu</h4>
    <div class="details-contents">
      <p><span class="details-title">Instructor: </span><%= link_to 'Marick Baxter', contact_path(anchor: 'marick') %></p>
      <p><span class="details-title">Location: </span>Bath Central United Reformed Church, Grove Street: <%= link_to 'Google Maps link', 'https://goo.gl/maps/sd2GSAfXCby', target: "_blank" %></p>
      <p>
        This is an ongoing class practicing Wing Chun Preying Mantis style,
        Chai Lei Fut and Chinese Kickboxing. All levels of experience are welcome.
      </p>
      <p><span class="details-title">Price per session: </span>£7</p>
    </div>
  </div>
  <h3>Tuesday</h3>
  <div class="details-block">
    <h4 class="details-header">Tuesday 17:00 - 18:30 - Children and Youths Kung Fu</h4>
    <div class="details-contents">
      <p><span class="details-title">Instructor: </span><%= link_to 'Marick Baxter', contact_path(anchor: 'marick') %></p>
      <p><span class="details-title">Location: </span>Bath Central United Reformed Church, Grove Street: <%= link_to 'Google Maps link', 'https://goo.gl/maps/sd2GSAfXCby', target: "_blank" %></p>
      <p>
        This is an ongoing class practicing Wing Chun Preying Mantis style,
        Chai Lei Fut and Chinese Kickboxing tailored to the younger generations.
        All levels of experience are welcome.
      </p>
      <p><span class="details-title">Price per session: </span>£7</p>
    </div>
  </div>
  <div class="details-block">
    <h4 class="details-header">Tuesday 18:30 - 20:00 - Five Animals Kung Fu</h4>
    <div class="details-contents">
      <p><span class="details-title">Instructor: </span><%= link_to 'Marick Baxter', contact_path(anchor: 'marick') %></p>
      <p><span class="details-title">Location: </span>Bath Central United Reformed Church, Grove Street: <%= link_to 'Google Maps link', 'https://goo.gl/maps/sd2GSAfXCby', target: "_blank" %></p>
      <p>
        This is an ongoing class practicing the Five Animal styles of Kung Fu.
        All levels of experience are welcome.
      </p>
      <p><span class="details-title">Price per session: </span>£7</p>
    </div>
  </div>
  <h3>Wednesday</h3>
  <div class="details-block">
    <h4 class="details-header">Wednesday 11:00 - 12:00 - Seated Tai Chi</h4>
    <div class="details-contents">
      <p><span class="details-title">Instructor: </span><%= link_to 'Jim Litster', contact_path(anchor: 'jim') %></p>
      <p><span class="details-title">Location: </span>Weston Parish Hall, Church Street: <%= link_to 'Google Maps link', 'https://goo.gl/maps/1EsCpCo8CtR2', target: "_blank" %></p>
      <p>This is an ongoing class practicing a seated form of Tai Chi.</p>
      <p><span class="details-title">Price per session: </span>£TBD</p>
    </div>
  </div>
  <div class="details-block">
    <h4 class="details-header">Wednesday 19:30 - 21:15 - Tai Chi</h4>
    <div class="details-contents">
      <p><span class="details-title">Instructor: </span><%= link_to 'David Rutherford', contact_path(anchor: 'david') %></p>
      <p><span class="details-title">Location: </span>Hayesfield Lower School, Brougham Hayes: <%= link_to 'Google Maps link', 'https://goo.gl/maps/q2sjVcCq47J2', target: "_blank" %></p>
      <p>
        This is an ongoing class practicing Qigong followed by miscellaneous
        training (Bagua, sensing hands etc.) and finishing with the Yang-style
        short form. All levels of experience are welcome, but please contact David
        to check for specific beginner sessions - the next one planned starts on
        the 6th of February.
      </p>
      <p><span class="details-title">Price per session: </span>£8</p>
    </div>
  </div>
  <h3>Thursday</h3>
  <div class="details-block">
    <h4 class="details-header">Thursday 19:30 - 21:00 - Kung Fu</h4>
    <div class="details-contents">
      <p><span class="details-title">Instructor: </span><%= link_to 'Marick Baxter', contact_path(anchor: 'marick') %></p>
      <p><span class="details-title">Location: </span>Nexus Methodist Church, Eastbourne Avenue: <%= link_to 'Google Maps link', 'https://goo.gl/maps/1YpzY64oj582', target: "_blank" %></p>
      <p>
        This is an ongoing class practicing Wing Chun Preying Mantis style,
        Chai Lei Fut and Chinese Kickboxing. All levels of experience are welcome.
      </p>
      <p><span class="details-title">Price per session: </span>£7</p>
    </div>
  </div>
</section>
<section>
  <h3>Events and Seminars</h3>
  <p>There are no events or seminars planned at present.</p>
</section>
