<h2><%= t('.title') %></h2>

<p>We have a <%= link_to 'mailing list', 'https://landing.mailerlite.com/webforms/landing/o5b1l1' %>,
  a <%= link_to 'Facebook page', 'https://www.facebook.com/Wutanbath/' %> and a
  <%= link_to 'Twitter feed', 'https://www.twitter.com/WutanBath/' %> for generally
  keeping up to date with the club.</p>

<p>If you want to get in contact more directly, either email us at <%= mail_to 'enquiries@bathtaichi.co.uk' %>
  or get in touch directly with the appropriate instructor.</p>

<h3>Instructors</h3>
<div class="details-block">
  <h4 class="details-header" id="david">David Rutherford</h4>
  <div class="details-contents">
    <p><span class="details-title">Email: </span><%= mail_to 'david@bathtaichi.co.uk' %></p>
    <p><span class="details-title">Phone: </span>07970 797 482</p>
    <p>David is the chief instructor of Wutan for the Bath area and has been running classes for over 20 years.</p>
  </div>
</div>
<div class="details-block">
  <h4 class="details-header" id="marick">Marick Baxter</h4>
  <div class="details-contents">
    <p><span class="details-title">Email: </span><%= mail_to 'marickbaxter@hotmail.com' %></p>
    <p><span class="details-title">Phone: </span>07881 646 633</p>
    <p>Marick runs the Chen-style classes and kick-boxing.</p>
  </div>
</div>
<div class="details-block">
  <h4 class="details-header" id="jim">Jim Litster</h4>
  <div class="details-contents">
    <p><span class="details-title">Email: </span>N/A</p>
    <p><span class="details-title">Phone: </span>01225 427 461 </p>
    <p>Jim runs seated Tai Chi classes aimed at folk whose knees and hips aren't up to the standing form.</p>
  </div>
</div>
