<div class="row justify-content-center">
    <div class="col-12">
        <h1 class="main-header"><%= link_to 'Wutan Bath', root_path %></h1>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-12 col-sm-9">
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-center" id="navbar">
                <%= link_to 'About', about_path, class: 'nav-item nav-link' %>
                <%= link_to 'Classes', classes_path, class: 'nav-item nav-link' %>
                <%= link_to 'Contact', contact_path, class: 'nav-item nav-link' %>
                <%= link_to 'Gallery', gallery_path, class: 'nav-item nav-link' %>
            </div>
        </nav>
    </div>
</div>