<!DOCTYPE html>
<html>
  <head>
    <title>Wutan Bath</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= favicon_link_tag 'favicon-16x16.png', type: 'image/png', sizes: '16x16' %>
    <%= favicon_link_tag 'favicon-32x32.png', type: 'image/png', sizes: '32x32' %>

    <meta name="keywords" content="Tai Chi, fitness, meditation, Kung Fu, mindfulness, health, Bath">
    <meta name="description" content="The Bath UK branch of the Wutan martial arts school for Tai Chi and Kung Fu.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>

  <body>
    <div class="page-wrapper">
      <h1 class="main-header"><%= link_to 'Wutan Bath', home_path %></h1>
      <nav>
        <ul id="nav-list">
          <li><%= link_to t('about.nav'), about_path %></li>
          <li><%= link_to t('classes.nav'), classes_path %></li>
          <li><%= link_to t('contact.nav'), contact_path %></li>
          <li><%= link_to t('gallery.nav'), gallery_path %></li>
        </ul>
      </nav>

      <main>
        <header>
          <% if flash[ :notice ] %>
            <div class="success"><%= flash[ :notice ] %></div>
          <% end %>
          <% if flash[ :warning ] %>
            <div class="notice"><%= flash[ :warning ] %></div>
          <% end %>
          <% if flash[ :alert ] %>
            <div class="notice"><%= flash[ :alert ] %></div>
          <% end %>
          <% if flash[ :error ] %>
            <div class="error"><%= flash[ :error ] %></div>
          <% end %>
        </header>

        <article>
          <%= yield %>
        </article>

        <footer>
          <p class="copyright">
            Site design is copyright &copy; Judith Owens 2018-<%= Time.now.strftime("%Y") %><br/>
            If you spot any bugs or have an idea for a new feature, please visit <a href="https://github.com/xanthipe/wutan-bath" target="_blank">our Github repository</a>.<br />
          </p>
        </footer>
      </main>
    </div>
  </body>
</html>
