<!doctype html>
<html>
  <head lang="en">
    <title>Wutan Bath - <%= @page_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= favicon_link_tag 'favicon-16x16.png', type: 'image/png', sizes: '16x16' %>
    <%= favicon_link_tag 'favicon-32x32.png', type: 'image/png', sizes: '32x32' %>

    <meta name="keywords" content="Tai Chi, fitness, meditation, Kung Fu, mindfulness, health, Bath">
    <meta name="description" content="The Bath UK branch of the Wutan martial arts school for Tai Chi and Kung Fu.">
  </head>

  <body>
    <div class="container-fluid">
      <header id="header" class="row">
        <div class="col-12">
          <%= render 'layouts/header' %>
        </div>
      </header>
      <section id="messages" class="row">
        <div class="col-6 offset-3">
          <%= render 'layouts/messages' %>
        </div>
      </section>
      <main>
        <%= yield %>
      </main>
    </div>
  </body>
</html>